<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.core.system.mapper.SysDeptMapper">

    <select id="departTree" resultType="com.yc.core.tree.TreeNode">
        select
            sys_dept_id as id,
            parent_id as parent_id,
            depart_name as title,
            depart_name as value,
            sort as order_num
        from sys_dept
        where
            del_flag = 0
            <if test="departName != null and departName != '' ">
                and depart_name like concat ('%',#{departName},'%')
            </if>
        order by sort
    </select>

    <select id="childrenDept" resultType="com.yc.core.system.entity.SysDept">
        select
            sd.*
        from sys_dept sd
        where
            sd.del_flag = 0
            and sd.parent_id = #{query.parentId}
            <if test="query.departName != null and query.departName != '' ">
                and sd.depart_name like concat ('%',#{query.departName},'%')
            </if>
        order by sd.sort,sd.create_time desc
    </select>

</mapper>
