<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.core.system.mapper.SysPermissionMapper">

    <select id="queryPermissionByUser" resultType="com.yc.core.system.entity.SysPermission">
		   SELECT p.*
		   FROM  sys_permission p
		   WHERE exists(
		   		select a.sys_role_permission_id from sys_role_permission a
		   		join sys_role b on a.role_id = b.sys_role_id
		   		join sys_user_role c on c.role_id = b.sys_role_id
		   		join sys_user d on d.sys_user_id = c.user_id
		   		where p.sys_permission_id = a.permission_id AND d.login_name = #{loginName} AND b.del_flag = 0
		   )
		   and p.del_flag = 0
		   order by p.sort ASC
	</select>

    <resultMap id="permissionMap" type="com.yc.core.cascadeList.CaseTopLevel">
        <id column="sys_permission_id" property="id" />
        <result column="name" property="title" />
        <result column="sys_permission_id" property="key" />
        <result column="top_leaf" property="leaf" />
        <collection property="children" ofType="com.yc.core.cascadeList.CaseSecondLevel">
            <result column="second_name" property="title" />
            <result column="second_id" property="key" />
            <result column="second_leaf" property="leaf" />
            <collection property="children" ofType="com.yc.core.cascadeList.CaseLastLevel">
                <result column="last_name" property="title" />
                <result column="last_id" property="key" />
                <result column="last_leaf" property="leaf" />
            </collection>
        </collection>
    </resultMap>

    <select id="caseList" resultMap="permissionMap">
        select
            a.sys_permission_id, a.name, a.is_leaf top_leaf,
            b.name as second_name,b.sys_permission_id as second_id, b.is_leaf second_leaf,
            c.name as last_name,c.sys_permission_id as last_id, c.is_leaf last_leaf
        from sys_permission a
        left join sys_permission b on a.sys_permission_id = b.parent_id AND b.menu_type = 1 and b.del_flag = 0
        left join sys_permission c on b.sys_permission_id = c.parent_id  AND c.menu_type = 2 and c.del_flag = 0
        where
            a.menu_type = 0
            and a.del_flag = 0
        ORDER BY a.sort,b.sort,c.sort
    </select>


</mapper>
