<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.core.mall.mapper.MallGoodMapper">

    <select id="goodPage" resultType="com.yc.core.mall.entity.MallGood">
        SELECT
            good.*
        FROM mall_good good
        <where>
            good.state &lt; 5
            <if test="query.name != null and query.name != '' ">
                and good.name like concat ('%',#{query.name},'%')
            </if>
            <if test="query.stockFlag != null and query.stockFlag != '' ">
                and good.stock > good.low_stock
            </if>
        </where>
        order by good.sale desc , good.sort
    </select>

</mapper>
